div {
  margin-top: 3px;
  padding: 0 10px;
}

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  padding: 8px 18px 10px;
  line-height: 1;
  color: #fff;
  background: #345;
  border: 0;
  border-radius: 4px;
  margin-left: 0.75em;
}

.jumbotron {
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
}


p {
  display: inline-block;
  margin-left: 10px;
}

.well {
  position: relative;
}

/*window styles*/
.window {
  background: #fff;
  border-radius: 3px;
}
.window .header {
padding: 0 9px;
line-height: 30px;
vertical-align: top;
padding: 2px 9px 0;
}
.window .header .title {
font: 11px "Myriad Pro", "Arial";
}

.editor .title {
text-align: center;
display: inline-block;
width: 280px;
color: #766F79;
vertical-align: middle;
}
.window .bullet {
height: 11px;
width: 11px;
display: inline-block;
background: #ccc;
border-radius: 100%;
vertical-align: middle;
margin-right: 5px;
}
.window .bullet-red {
  background: #DF7065;
}

.editor .body {
  padding: 18px 10px;
  position: relative;
}

.editor .code {
  font: 11px Monaco, Courier New;
  color: #ccc;
}
.editor .code-block {
  display: none;
}
.editor .code-block.active {
  display: block;
}
.editor .code .code {
  color: #777;
}

.editor .code li {
  padding: 3px 0;
}

.editor .code .fn {
  color: #4A90E2;
}

.editor .code .v {
  color: #7ED321;
}



.editor .code .string {
  color: #000;
}
.window .bullet-yellow {
  background: #E6BB46;
}

.window .bullet-green {
  background: #5BCC8B;
}

.copied {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
  color:#fff;
  top: -3px;
  left: 0;
}

.copied span {
  font-size: 5rem;
}

.copied .inner{
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

.skip {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  width: auto;
  float: right;
  cursor: pointer;
}
